<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h2>Spring Web App</h2>
<div th:unless="${#lists.isEmpty(users)}">
    <dl th:each="user : ${users}">
        <dt class="bookHeadline">
            <span th:text="${user.fistName}">First Name </span>
            <span th:text="${user.lastName}">Last Name </span>
            (EMAIL: <span th:text="${user.email}">Email</span>)
        </dt>
        <dd class="bookDescription">
<span th:if="${user.bio}"
      th:text="${user.bio}">Bio</span>
<span th:if="${user.bio eq null}">
No description available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(users)}">
    <p>You have no books in your book list</p>
</div>
<hr/>
<h3>Add a book</h3>
<form method="POST">
    <label for="fistName">FirstName:</label>
    <input type="text" name="fistName" size="50"/><br/>
    <label for="lastName">LastName:</label>
    <input type="text" name="lastName" size="50"/><br/>
    <label for="email">Email:</label>
    <input type="text" name="email" size="15"/><br/>
    <label for="bio">Bio:</label><br/>
<textarea name="bio" cols="80" rows="5">
</textarea><br/>
    <input type="submit"/>
</form>
</body>
</html>